
button {
    border: none;
    padding: 10px 5px;
    outline: none;
    display: inline-block;
    background-color: white;
    font-weight: 900;
    margin: 1rem;
    width: 45px;
}
#red {
    background-color: red;
    width: 100px;
}

#green {
    background-color: green;
    width: 115px;
}
#linethrough {
text-decoration:line-through
}

#underline {
    text-decoration:underline
    }
    
#inputWrapper, #field, #buttons {
    font-size: 18px;
    padding: 5px;
    margin: 20px;
}
 
    textarea {
        height: 125px;
        width: 95%;
     margin: 20px;
    }
    input {
        height: 35px;
        width: 95%;
     margin: 20px;
    }
  div {   
    background-color: lightgray;
}



